/* Global Rules and Variables
==============================
*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

// $primary-clr: #28283A;
// $secondary-clr: #41836E;
// $accent-clr: #CC9766;
// $standout-clr: #3FD6BC;
// $bg-clr: white;

// Orange Theme
// $primary-clr: #BF3F34;
// $secondary-clr: #F22F1D;
// $accent-clr: #F2884B;
// $standout-clr: #F0F1F2;
// $bg-clr: white;

// $primary-clr:#42628C;
// $secondary-clr: #50B4BF;
// $accent-clr: #F2762E;
// $standout-clr: #50B4BF;
// $bg-clr: white;

// Bright Colored
$primary-clr: #38302F;
$secondary-clr: #138786;
$accent-clr: #FA6111;
$standout-clr: #9BE016;
// $bg-clr: #38302F;
$bg-clr: #FFFFFF;