@import "globals";

/* Table / UserInfoPage Styles
================================
*/
.maininfo {
  padding-top: 70px;
  margin-bottom: 50px;
  /* max-width: 90%; */
}

.maininfo h2 {
  text-align: center;
  font-size: 1.8rem;
  color: $accent-clr;
  margin-top: 30px;
}


.maininfo ol {
  margin: 10px 0 20px 40px;
  color: rgb(4, 4, 119);
  font-weight: 600;
}

.no-results {
  display: flex;
  width: 400px;
  margin: 10px auto 0 auto;
}

.maininfo table, th, td {
  max-width: 90%;
  /* border: solid 1px black; */
  margin: 30px auto 0 auto;
  text-align: center;
  padding: 10px;
}

.maininfo th {
  color: $standout-clr;
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
  background: url("../imgs/dark-triangles.png") center repeat;
  // background-color: $primary-clr;
}

.maininfo td {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 600;
}

tbody {
  color: $primary-clr;
  background-color: rgb(224, 231, 229);
  // background-color: $secondary-clr;
  // background-color: #5DBA9D;
}